PORT=5050
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database Connection
MONGODB_URI=mongodb+srv://bansiprajapati2006_db_user:HQh0b2ejxdxmWmvZ@cluster0.l17338x.mongodb.net/cloud_file_manager

# Cloudinary Credentials
CLOUD_NAME=djlwr1lp5
CLOUD_API_KEY=476423574255386
CLOUD_API_SECRET=m1oyEgHeTGbk3kT32eV8AxS3YAw

# JWT Secrets
JWT_SECRET=BansiAaru1510
JWT_REFRESH_SECRET=AaruBansi1510

# Authentication Passwords (Supports Plaintext OR Bcrypt Hashes)
NORMAL_USER_PASSWORD=ab2211
NORMAL_USER_PASSWORD_HASH=$2a$10$2YVy9r708/3Kxbn6HSO7sO2MOiLg22egCac1ey44SaovLcKYMVTte

ADMIN_PASSWORD=Bansi7874.,&1510
ADMIN_PASSWORD_HASH=$2a$10$1ElCsQ4akgLpwZQT3KnmC.Z2kHsqTayiVfpPktXHBmiRqZtJ3fzi.

# Storage & Upload Limits
MAX_FILE_SIZE_MB=100
TOTAL_STORAGE_LIMIT_GB=100
